/**************************************/
/* CSS de la page d'accueil  */
/* Ce fichier CSS ne contient pas le CSS du Header ni du Footer, reportez vous a home.css */
/* CSS de Sylvain AKTEPE */
/**************************************/

*{
    margin: 0; 
    padding: 0;
}

body{
    margin: 0;
	padding: 0;
    height: 100%;
    width: 100%;

}

/*Definie la taille de image panier */
.img_panier img{
    width: 87%;
    padding: 5%;
}

.logo-phone img{
    width: 15%;
}

/*fais une bordure de couleur verte */
.border-offre{
    border: inherit ;
    border: 2px solid !important;
    border-color: var(--green_afpa)  !important;
}

.border-offre-detail{
    border-bottom: 2px solid !important;
    border-color: var(--green_afpa)  !important;
    background: var(--green_afpa)!important;
    color:  var(--white);
}

.border-panier{
    border-bottom: 2px solid !important;
    border-color: var(--green_afpa)  !important;
}

.border-button{
    border: inherit ;
    border: 1px solid !important;
    border-color: var(--green_afpa)  !important;
    border-radius: 35px;
}

#input_number{
    border: inherit ;
    border: 1px solid !important;
    border-color:var(--green_afpa) !important;
    border-radius: 35px !important;
    padding:5% !important;
}

.border-button-panier{
    border: inherit ;
    border: 1px solid !important;
    border-color:var(--green_afpa)  !important;
    border-radius: 35px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

/*Hover sur les bouttons */
.border-button-panier:hover {
    background-color:var(--green_afpa);
}


.btn{
    background-color: var(--green_afpa);
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    color:  var(--white) !important;;
}

.btn:hover{
    background-color:var(--white);
    color: var(--green_afpa) !important;
}

p{
    font-size: 19px !important;
}

/*Affiche le prix en plus grand */
.prix p{
    font-size: 28px !important;
}

/*hover sur les dropdown */
.dropdown-item{
    -webkit-transition-duration: 0.1s !important; /* Safari */
    transition-duration: 0.1s !important;
}

.dropdown-item:hover{
    background-color: var(--green_afpa) !important;
    color:  var(--white) !important;
}


.jour {
    border: inherit ;
    border: 1px solid !important;
    background: var(--green_afpa)!important;
}

.date_agenda {
    border-bottom: 1px solid !important;
    background: var(--green_afpa)!important;
}

.day p{
    font-size: 26px !important;
    font-weight: bold !important;
}

.info p{
    font-size: 16px !important;
}

.date_agenda p{
    color : var(--white)!important;
    font-size: 30px !important;
}

.day p{
    font-size: 30px !important;
}

.info p{
    font-size: 20px !important;
}

.f{
    margin-left: 128px !important;
}

.panier2{
    display: none;
}

.panier4{
    display: none;
}

.home_logo img{
    width: 15%;
}

.actu-content{
    font-size: 12px !important;
}

.calendar
{
    width: 50%;
    background:#fff;
    color:#222629;
    overflow:hidden;
}

.calendar .header
{
    color:var(--green_afpa);
    background:white;
    height:40px;
    line-height:40px;
    text-align:center;
}

.calendar .month
{
    display:inline-block;
    font-weight:bold;
}

.calendar button
{
    background-color: white !important;
    color: var(--green_afpa) !important;
    cursor:pointer;
    font-family:Consolas;
    font-size:1.75rem;
    height:100%;
    padding:0 8px;
    border: 0px solid var(--green_afpa);
    border-radius: 17% !important;
}

.calendar button:hover
{
    color: black !important;
}

.calendar button:first-child
{
    float:left;
}

.calendar button:last-child
{
    float:right;
}

.calendar .cell
{
    background:#fff;
    color:#5d5d5d;
    box-sizing:border-box;
    display:inline-block;
    padding:10px 0;
    text-align:center;
    width:calc(100% / 7);
}

.calendar .day
{
    font-size:.8rem;
    padding:8px 0;
}

.calendar .day, .calendar .today
{
    background:var(--green_afpa);
    color:#fff;
}

.actus{
    background-color: white;
    padding: 2.44% !important;
}

.detail{
    padding: 3%;
}


/*Lien du "plus de détail" en vert afpa */
.detail a {
    color: var(--green_afpa) !important;
}

.detail a:hover{
    color: black;
}

/*couleur de l'afpa pour la date du calendrier */
.actu-date{
    color: var(--green_afpa);
    font-weight: bold !important;
  }
  


/*met un margin-top au titre du panier  */
.font-command p{
    font-size: 23px !important;
    margin-top: 2% ;
}


.offre_detail{
    padding: 3%;
}

.center-agenda h5{
    font-size: 1.5em !important;
    
}


