/**************************** CONTAINER ****************************/
.container-home-item, h2
{
  margin-right: auto;
  margin-left: auto;
  padding: 15px 3px 0px;
}

.container-home-item, p
{
  padding: 0px 5px 0px;
  text-align:center;
}

.container-home-item
{
  margin : 7px;
  justify-content: space-between;
  border: 3px solid #e4e4e4;
}

.container-home-item:hover
{
box-shadow: 0px 0px 5px 1px #7fc241;
border: 3px solid rgb(156, 206, 157);
}


/**************************** BOUTONS ****************************/
/* css des boutons des container */
button 
{
  background-color:#7fc241;
  color: white;
  cursor: pointer;
  padding: 14px 10px;
  margin: 7px 0;
  border: none;
  width: 100%;
  border-radius: 6px;
}

/* css du bouton du container "mes statistiques" */
#adm_stat-button
{
  background-color:#e3007e;
  color: white;
  cursor: pointer;
  padding: 14px 10px;
  margin: 7px 0;
  border: none;
  width: 100%;
  border-radius: 6px;
}

/* alignement des boutons de chaque container au centre */
.row a
{
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  width: 100%;
}


/**************************** MES STATISTIQUES ****************************/
#adm_stat
{
  align-items: center;
  text-align: center; 
  margin : 7px;
  justify-content: space-between;
  border: 3px solid #e4e4e4;
}

#adm_stat:hover
{
  box-shadow: 0px 0px 5px 1px  #df5aa3;
}


/**************************** ICONES ****************************/
.icon
{
  width: 33px;
}