.table-title {
    padding-bottom: 15px;
    border-radius: 1px 1px 0 0;
}

.table-wrapper {
    box-shadow: 0 13px 30px rgba(0, 0, 0, 0.25)
}

.table {
    border-bottom: none !important;
    margin-bottom: 15px !important;
    width: 100% !important;
}

tbody {
    min-width: 1000px;
}

.child {
    text-align: center;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    background-color: var(--sec) !important;
    top: inherit !important
}


/**************************/


/****      SEARCH      ****/


/**************************/

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #000;
    position: relative;
    top: -2px;
    left: 0;
}


/**************************
****    PAGINATION    ****
**************************/

.pagination {
    display: inherit;
    border-radius: unset;
}

.page-link {
    border: none;
}

.page-item.active .page-link {
    background-color: var(--sec) !important;
}


/* -------------------------------------- */

.custom-select {
    width: fit-content;
}

input {
    font-family: "Varela Round", sans-serif;
}

#modal_datalist {
    max-width: 550px !important;
    min-width: 550px !important;
}

#adm_admin_edit_data {
    display: none;
    border-top: 1px dotted #000;
}


/********************************************
                DATALIST
********************************************/

#utilisateurs_chosen {
    width: 100% !important;
    height: 40px;
}

#label_role {
    cursor: pointer;
}

/**************************/


/****     BUTTONS      ****/


/**************************/


/***************************************************
                    TOOLTIP
***************************************************/


/* Tooltip container */

#tooltip {
    position: relative;
    display: inline-block;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

#tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: var(--first);
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    font-size: 15px;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}


/* ******* TOOLTIPTEXT *********/

.tooltiptext {
    line-height: 17px;
}


/* Tooltip arrow */

#tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--first) transparent transparent transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */

#tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/*************************************
            TD ACTION
*************************************/

.adm_admin_action {
    position: relative;
    justify-content: center;
}

.adm_admin_delete {
    color: var(--fourth) !important
}


/***************************************
               Checkbox
***************************************/

.checkbox:checked+label:before {
    left: 40px !important;
}

.checkbox+label:before {
    left: -40px !important;
}