/****************************************************
                    DATATABLE
****************************************************/

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: calc(50% - 9px);
    background-color: var(--sec);
}


/****************************************************/

.modal .modal-content {
    border-radius: 20px;
}

.modal-footer {
    width: 100%;
    background-color: #f3f3f3 !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.modal-dialog {
    max-width: 900px !important;
}

.add_modal {
    text-align: center;
    align-items: center;
    width: 900px;
    /* top: -30px;
    left: -384px; */
}

.modal .add_title {
    margin: auto;
}

select {
    width: fit-content;
    text-align-last: center;
    text-align: center !important;
    border-radius: 6px;
    background-color: #7fc241;
    padding: 0 15px;
    color: white !important;
}

.addFormat {
    width: 200px;
    margin: 0 15px;
}

input[type=checkbox]:checked {
    background-color: #7fc241;
    color: #fff;
}

.cardFormat {
    text-align: left;
}

.cardComplete {
    border-top: 2px dotted #000;
    width: 100% !important;
}

.cardComplete:first-child {
    border-top: none;
}


/* .All_select_ingredients,
.All_unit_select {
    height: 100%;
} */

.addQuantity {
    height: 32px;
    position: relative;
    left: 3px;
    bottom: 1px;
}

.FormatTitle {
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline;
}

#adm_offer_ingredient_choice {
    height: 30px;
    width: 90%;
    margin-left: calc(100% - 572px);
}

.codePromo_hide {
    display: none;
}

input[type="radio"] {
    font-size: larger;
}

[id^="Unit_select"] {
    height: 100%;
    width: 100%;
}

#CodePromoAddEndDate {
    align-items: center;
    color: var(--sec);
    padding: 10 0 0 30;
    font-weight: bold
}


/*************************************************
                IMAGE CHOICE
*************************************************/

#add_img_Supplier {
    height: fit-content;
}

#Div_Resultat_upload_mainbasket, 
*[id^="Div_Resultat_upload_Basket"],
#Div_Resultat_Upload_Basket_Edit {
    color: red;
    font-weight: bold;
    text-align: center;
}

p.Div_Resultat_upload_mainbasket, 
*[class^="Div_Resultat_upload_Basket"] {
    color: var(--first) !important;
    font-weight: bold;
    text-align: center;
}

.adm_offer_ApercuImage, .adm_offer_ApercuImageEdit {
    max-width: 150px;
    height: 150px;
    border: 1px #dddddd solid;
    color: #dddddd;
    text-align: center;
}

.adm_offer_ApercuImage img, .adm_offer_ApercuImageEdit img {
    width: 150px;
    height: 150px;
}

.adm_offer_ApercuImage p, .adm_offer_ApercuImageEdit p {
    margin: 0;
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}

#adm_offer_newFormatDate {
    width : 1px;
    height:1px;
    display:none
}

#frmUploadImage, #frmUploadImageEdit {
    width: 1px; 
    height: 1px; 
    border: 0px; 
    margin: 0px; 
    padding: 0px; 
    display: none; 
    pointer-events: auto;
}

.ImgProperties {
    font-size: 12px !important;
}

.ReseignementNouveauCode {
    height: 80px;
}



/*************************************************
                    FIELDSET
**************************************************/

.adm_offer_fieldset {
    border: 2px solid var(--first);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%;
    height: fit-content;
    margin-left: 37px;
}

.adm_offer_dates {
    margin-left: 28px;
}

.fieldset_legend {
    color: var(--first);
    font-size: 15px;
    width: fit-content;
}

.date_begin_basket,
.date_end_basket,
.date_begin_payment,
.date_end_payment,
.date_end_validation_basket,
.date_begin_validation_basket {
    justify-content: center;
}

.basket_all_date {
    width: 90%;
}

.date_choice {
    width: 90% !important
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}
/*  */
.adm_offer-container {
    max-width: 25px;
    max-height: 30px;
    color: #fff !important;
    border-radius: 50%;
    background-color: var(--first);
    border: 2px solid #fff;
    display: flex;
    position: relative;
    justify-content: center;
    align-self: center;
    text-align: center;
    z-index: 10;
}

/* titre de chaque partie de creation de paniers */
#date_descr_toggle,
#format_descr_toggle,
#infos_descr_toggle {
    background-color: var(--first);
    color: #fff;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
    max-width: 90%;
}

/* Background color des fieldsets de la modal */
#date_setup,
#adm_order_format,
#infos_setup {
    background-color: #f5f5f5;
    max-width: 90%;
}

/* Une format de pânier */
#adm_order_format {
    width: fit-content
}

/* Liste des articles du paniers */
.fieldset_compo {
    width: 80% !important;
    margin-left: 0 !important;
}

/* Un element de la liste des articles d'un panier */
#add_list_ingredient li {
    list-style-type: circle;
}

/* liste des categorie de produits */
.adm_offer_list_category {
    position: relative;
    width: 50%;
    justify-content: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 12px;
    column-count: 2;
}

#validation_creation_panier {
    margin-top: 25px !important;
    width: 85%
}


/****************************************
                BUTTON
*****************************************/

#btn_add_category {
    position: relative;
    right: 8px;
}

#close_button0 {
    display: none;
}

.close {
    position: relative;
    left: 285px;
    top: 6px;
}

#adm_offer_validate_baskets:disabled {
    background: #ccc;
    border: none;
    box-shadow: none;
    color: #ffffff
}

.label_file {
    padding: 10px 20px;
    text-decoration: none;
    font-family: Verdana, Arial;
    font-weight: bold;
    font-size: 11 px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    height: 50px;
}

.button_main {
    background-color: #de0187;
    color: white;
    border: 1px solid #de0187;
    margin-top: 10px;
}

.buttonUpload {
    align-items: center;
}


/********************************************
                    ICONE
********************************************/

.fa-ban {
    color: var(--fourth);
}

.fa-plus-circle {
    color: var(--first)
}

.bouton_new_infos .fa-plus-circle,
.bouton_new_infos .fa-ban {
    font-size: 25px;
    position: relative;
    top: calc(50% - 13px);
    left: calc(50% - 13px);
    cursor: pointer;
}

.div_button_new {
    width: 40px;
}


/**********************************************
                    SELECT
**********************************************/

.format_select {
    background-color: var(--sec);
    height: 40px
}

#bouton_ajout_mainbasket {
    cursor:pointer; 
    position: relative; 
    left: 0; 
    right: 0; 
    margin: 0 auto;
    pointer-events: none;
    color: #dddddd;
}

*[id^="uploadForm"] {
    text-align: left;
    padding: 0;
}
