/**************************/


/****    DATATABLES    ****/


/**************************/

.container-fluid {
    padding-left: 30px;
}

.table {
    width: 100% !important;
}

.table-wrapper {
    margin: 30px 0;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    background-color: var(--sec);
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: 35%;
}

.modal .modal-dialog {
    max-width: 550px !important;
}


/**************************/


/****      SEARCH      ****/


/**************************/

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #231f20;
}

.dataTables_wrapper .dataTables_info {
    padding-top: 1em !important;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 0.5em !important;
}


/**************************
****    PAGINATION    ****
**************************/

.pagination {
    display: inherit;
    border-radius: unset;
}

.page-link {
    border: none;
}

.page-item.active .page-link {
    background-color: var(--sec) !important;
}


/* -------------------------------------- */

.custom-select {
    width: fit-content;
}


/* Précédent Suivant */


/**************************/


/****       MODAL      ****/


/**************************/

.modal .form-control {
    font-family: "varela Round";
}


/***********************************************
                    INPUT
***********************************************/

#user_pwd {
    margin: 0;
    padding-right: 30px;
    width: 100%;
}

#adm_client_form_pwd {
    position: relative;
}

#verifemail,
#verif_pwd {
    margin-top: 6px;
    font-size: 15px !important;
}


/**************************/


/****     BUTTONS      ****/


/**************************/

.hide {
    display: none;
}

.main-section {
    width: 100%;
    flex-grow: 1;
    /* background-color: var(--white); bootstrap  */
    background-attachment: fixed;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.purchase_tr_details .purchase_row_td {
    width: 100%;
}


/***************************************************
                    TOOLTIP
***************************************************/


/* Tooltip container */

#tooltip {
    position: relative;
    display: inline-block;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

#tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: var(--first);
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    font-size: 15px;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}


/* Tooltip arrow */

#tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--first) transparent transparent transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */

#tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* ******* TOOLTIPTEXT *********/

.tooltiptext {
    line-height: 17px;
}


/***************************************************
				   DATATABLE
***************************************************/

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    background-color: var(--sec) !important;
    background-image: none !important;
    /* border: none !important; */
}

.dtr-title {
    width: 50%;
}

.dtr-data {
    width: 50%;
}

.dtr-details {
    width: 50%;
    margin-left: calc(50% - 195px) !important;
}


/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/* ------BTN------- */


/* .btn_valider {
    margin: 30px;
} */

.subtitleMain {
    color: #00aaff !important;
    font-weight: 500;
}

.myNav {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.overlay {
    height: 50%;
    width: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/*******************************************
                    ICONS
*******************************************/

.fa-trash-alt::before {
    font-size: 18px;
    color: var(--fourth);
}

#adm_client_pwd_i {
    position: absolute;
    bottom: 10px;
    top: 10px;
    right: 5px;
    width: 25px;
    cursor: pointer;
}

.fa-eye:before,
.fa-eye-slash:before {
    font-size: 18px;
}


/*******************************************
                MEDIA QUERY
********************************************/

@media (min-width: 1200px) {
    #page .container {
        max-width: min-content;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}