body {
    background-image: url(../../assets/img/afpanier_02.png);
    background-attachment: fixed;
}
.page_title{
    border-radius: 5px;
}
/* ***************************************
                 SELECT
*****************************************/

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
    background-color: var(--sec)!important;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: var(--sec)!important;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue!important;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

/* ***************************************
                 BUTTON
*****************************************/

.btn_green_adm {
    color: #fff;
    background: var(--sec) !important;;
    border: 2px solid #fff;
    border-radius: 4px !important;
    padding: 5px;
    margin-left: 10px;
}

.btn_green_adm:hover {
    background-color: #FFFFFF !important;
    color:  var(--sec) !important;
    border: 1px solid  var(--sec);
    transition-duration: 1s;
    box-shadow: 7px 7px 5px #fff;
    -moz-box-shadow: 7px 7px 5px #fff;
    -webkit-box-shadow: 7px 7px 5px #fff;
    -khtml-box-shadow: 7px 7px 5px #fff;
}
.adm_contact_paraph,textarea {
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important; */
    /* border: 1px solid #7fc241 !important; */
    width: 100%;
    padding: 6 10;
    background-color: #fff;
    color: #302c2c;
    /* margin-top: 6px; */
}
.note-editor{
    width: 100%!important;
    text-align: center;
}
.sjv{
    text-align: center;
}
.error{
    color: red;
}
.card-header{
    margin-bottom: 20px;
}
.card {
    background-clip: content-box !important;
    /* box-sizing: border-box;
    width: 100%; */
    border: none;
    /* padding-right: -15px !important; */
}

.contact_info_container {
    flex: 1 1 auto;
}

textarea.contact_textarea{
    width: 100%;
    height: auto;
    height: 200px;
    /* min-height: 90px; */
    border: none
}

.center_name{
    color:var(--sec);
    text-shadow: 1px 1px 1px#000;
}
/* ************ Div with button  ************ */

.contact_iframe {
    position: relative;
    height: 300px;
    width: 100%;
}
.sperr{
    color:red
}
#contact_google {
    padding: 0 30px;
    background-color: transparent;
}

.contact_iframe iframe {
    border: 3px solid var(--first);
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
}

ul li {
    margin-bottom: 10px;
}

ul li i,
ul li img {
    margin-bottom: 6px;
}

ul.list-unstyled>li:last-child {
    margin-bottom: 10px;
}


/***********************************************************
                    CONTENT EDITABLE
***********************************************************/

div[contenteditable],
p[contenteditable],
a[contenteditable] {
    border: 1px solid rgb(22, 22, 22);
}

#adm_contact_soustitre {
    margin: 30px !important;
}


/******************************************
                    LIST
******************************************/

.contact_ul {
    height: 87%;
    display: grid;
    align-content: center;
}

.rounded-0 {
    height: 100%;
}


/***********************************************************
                        GOOGLE MAP
***********************************************************/

#adm_contact_google {
    padding: 0px 30px !important;
    background-color: transparent !important;
}


/**************************** MEDIA QUERY ************************/

@media screen and (max-width: 990px) {
    li#contact_mail>a {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    li#contact_mail>a {
        font-size: 18px;
    }
}