/*DEBUT MENU ADMIN */

.admin_button {
	width: 230px;
	height: 100px;
	background-color: #7fc241;
	border-color : transparent;
	font-size: x-large;
	text-transform: uppercase;
	vertical-align: middle;
}
.admin_button:hover {
	background-color : white;
	color: #7fc241;
	border-color : #7fc241;
	border-width: thick;
}
/*FIN MENU ADMIN*/