/**************************************/


/* CSS de la page contact */


/* CSS de Sylvain AKTEPE */


/**************************************/

* {
    margin: 0;
    padding: 0;
}

p.text-center {
    font-weight: bold;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.btn {
    -webkit-transition-duration: 0.5s;
    /* Safari */
    transition-duration: 0.5s;
    background-color: var(--green_afpa);
    color: var(--white) !important;
}

.btn:hover {
    background-color: var(--white);
    color: var(--green_afpa) !important;
}

.border-button {
    border: inherit;
    border: 1px solid !important;
    border-color: var(--green_afpa) !important;
    border-radius: 35px;
}

.profil {
    background-color: var(--sec);
}

.profil h2 {
    color: var(--white);
}

#contact_mail {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#contact_message_content {
    min-height: 150px;
}

label,
.valider {
    font-weight: 400;
    font-family: Calibri;
    padding: 10px;
    font-size: 1rem;
}

.contact-container {
    max-width: 25px;
    max-height: 30px;
    color: #fff !important;
    border-radius: 50%;
    background-color: var(--first);
    border: 2px solid #fff;
    display: flex;
    position: relative;
    justify-content: center;
    align-self: center;
    text-align: center;
    z-index: 10;
    font-family: 'FingerPaint';
}

.contact-h5 {
    color: #fff;
    text-decoration: none;
    margin-left: 0;
}


/******************************************
                    LIST
******************************************/

.contact_ul {
    height: 87%;
    display: grid;
    align-content: center;
}

.rounded-0 {
    height: 100%;
}


/* *************************************************
                  INFORMATIONS
***************************************************/

.contact-container {
    font-family: "Varela Round", sans-serif;
}


/***************************************************
                MESSAGE CONTENT
***************************************************/

.card-body>.row {
    margin: 0 !important;
}

.contact_sujet_message {
    padding: 0px 30px;
}

.contact_card {
    background-clip: content-box;
    background-color: rgb(253, 253, 253);
}

.contact_card::after {
    border-bottom: 1px solid blue;
    border-left: blue;
    border-right: blue;
}

.contact_info_panier {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.center_withdrawall_schedule{
    position: relative;
    top: -6px;
}
.clError{
    color: red;
}
/* ***************************************
                 BUTTON
*****************************************/

.btn-green {
    color: #fff;
    background: #7fc241;
    border: 1px solid #7fc241;
    border-radius: 4px !important;
    padding: 10px;
}

.btn-green:hover {
    background-color: #FFFFFF !important;
    color: #7fc241 !important;
    border: 1px solid #7fc241;
    transition-duration: 1s;
    box-shadow: 7px 7px 5px #7fc241;
    -moz-box-shadow: 7px 7px 5px #7fc241;
    -webkit-box-shadow: 7px 7px 5px #7fc241;
    -khtml-box-shadow: 7px 7px 5px #7fc241;
}

.valider {
    background-color: #dddddd !important;
    border: 1px solid #dddddd;
}


/*******************************************
                    ICONS
*******************************************/

.fa-envelope {
    margin-top: 0 !important;
}

.contact_iframe {
    position: relative;
    height: calc(100% - 33px);
    padding: 0;
}

.contact_iframe iframe {
    border: 3px solid var(--first);
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
}

ul.list-unstyled>li:last-child {
    margin-bottom: 10px;
}

::placeholder {
    color: #ccc !important;
}


/* ********** GOOGLE MAP URL ********** */

h5 {
    margin-left: 15px;
    color: var(--sec);
    font-weight: 600;
    text-decoration: underline;
}


/**************************** MEDIA QUERY ************************/

@media screen and (max-width: 992px) {
    li#contact_mail>a {
        font-size: 15px;
    }
    .contact_iframe {
        height: 300px;
    }
    #etape1 {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {
    li#contact_mail>a {
        font-size: 18px;
    }
}

@media screen and (max-width: 370px) {
    body,
    h2,
    .contact-h5 {
        font-size: 15px;
    }
    .form-group,
    .col-lg-12 {
        padding: 0;
    }
}