/*css de la page FAQ en gestion */

#questions {
    height : 47px;
    width: 700px;
    font-size: medium;
}

p {
    font-size : 25px;
}

#pageFAQgestions {
    padding-top: 75px;
}

.FAQtitle {
    color: green;
    text-align: center;
}

.hide {
    display:  none;
}

thead {
    background-color: #7fc241;
    font-weight: bold;
}

.inputNumber {
    border-radius: 6px;
    padding: 4px;
    border: 1px solid #7fc241;
}

#faq_controls_btn_new_question {
    text-align: center;
    margin-left: 43%;
    display: block;
}

#faq_gestion_new_question {
    display: none;
}

#resultat_empty_input {
    color: red;
}