.navbar-nav .dropdown-menu {
    position: absolute;
}

h1 {
    font-size: 18px !important;
}

a.hvr-pop,
.navbar-light .navbar-toggler {
    font-size: 16px !important;
}

.home h2 {
    font-size: 18px !important;
}

.dropdown-menu {
    right: -20px !important;
    left: inherit !important;
}

#header_img {
    min-width: 45px !important;
}

.navbar-nav {
    margin-top: 0 !important;
}


#mode_admin {
    cursor: pointer;
}


/*      NOTIFICATIONS       */
.count-container.unread {
    background-color: var(--fourth);
}
.notifs.count-container.read {
    background-color: #ffb107;
}
.notifs.count-container.empty {
    background-color: grey;
}
.notifs.count-container:not(.empty):hover {
    opacity: .7;
}
.show_notifs[disabled] {
    cursor: default !important;
}
#notif_index {
    position: absolute !important;
    color: grey;
    left: 30px !important;
    bottom: 7px;
}
.arrow {
    margin: 10px;
}
.arrow[disabled] {
    cursor: default;
    color: grey;
}
.arrow:not([disabled]) {
    cursor: pointer;
    color: black;
}
#new_notif {
    float: right;
    color: var(--fourth);
}




@media screen and (max-width: 350px) {
    .header_client_home h2 {
        font-size: 13px !important;
    }
    .main_header_client li a,
    .main-header li {
        font-size: 12px !important;
    }
    .count-container {
        width: 17px !important;
        height: 17px !important;
    }
}