/**************************************/


/* MAIN */


/**************************************/

html,
body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}


/**************************************/


/* CUSTOM VAR COLORS */


/* Insert here usual colors for the project */


/**************************************/

:root {
    --first: #7fc241;
    --sec: #00aaff;
    --third: rgb(255, 255, 255);
    --fourth: #de1f85;
}


/**************************************/


/* MAIN LAYOUT */


/**************************************/

.main-header {
    width: 100%;
    /* background-color: var(--first); custom */
}

.main-section {
    width: 100%;
    flex-grow: 1;
    /* background-color: var(--white); bootstrap */
    background-attachment: fixed;
    margin-bottom: 40px;
}

.main-footer {
    width: 100%;
    /* background-color: var(--first); custom */
}


/**************************************/


/* TABLE */


/**************************************/

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #eeeeee;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}


/**************************************/


/* BUTTON CLASS */


/**************************************/


/* BUTTON VALIDATION */


/* Buttons */


/* .btn-green {
    color: #fff;
    background: #7fc241;
    border: 1px solid #7fc241;
    border-radius: 4px !important;
}

.btn-green:hover {
    background-color: #FFFFFF;
    color: #7fc241;
    border: 1px solid #7fc241;
    transition-duration: 1s;
    box-shadow: 7px 7px 5px #7fc241;
    -moz-box-shadow: 7px 7px 5px #7fc241;
    -webkit-box-shadow: 7px 7px 5px #7fc241;
    -khtml-box-shadow: 7px 7px 5px #7fc241;
} */


/* BUTTON ANNULATION */


/* .btn-cancel {
    color: #fff;
    background: #e3007e;
    border: 1px solid #e3007e;
    border-radius: 4px !important;
}

.btn-cancel:hover {
    background-color: #FFFFFF;
    color: #e3007e;
    border: 1px solid #e3007e;
    transition-duration: 1s;
    box-shadow: 7px 7px 5px #e3007e;
    -moz-box-shadow: 7px 7px 5px #e3007e;
    -webkit-box-shadow: 7px 7px 5px #e3007e;
    -khtml-box-shadow: 7px 7px 5px #e3007e;
} */


/* BUTTON QUE POUR DATATABLE */


/* MODIFIER OU EDITER */


/* utiliser l'image "edit.png" */


/* SUPPRIMER */


/* utiliser l'image "trash.png" */


/* VALIDER OU ENVOYER OU AJOUTER */


/* utiliser l'image "tick.png" */

.imgHeight {
    height: 32px;
}


/* VALIDER OU AJOUTER*/

.valider {
    color: white !important;
    font-weight: 500;
    background-color: #7fc241 !important;
    border-radius: 6px;
    transition: 1s;
    border-style: hidden;
    font-size: large;
    border-radius: 6px;
    padding: 10px 10px;
}


/* MODIFIER */

.modifier {
    transition: 1s;
    font-weight: 500;
    color: white !important;
    background-color: #00aaff !important;
    border-style: hidden;
    font-size: large;
    border-radius: 6px;
    padding: 10px 10px;
}


/* SUPPRIMER */

.supprimer {
    font-weight: 500;
    transition: 1s;
    color: white !important;
    background-color: #de1f85 !important;
    border-style: hidden;
    font-size: large;
    border-radius: 6px;
    padding: 10px 10px;
}


/* CONNEXION */

.connexion {
    transition: 1s;
    color: white!important;
    background-color: #de1f85 !important;
    border-style: hidden;
    font-size: large;
    border-radius: 6px;
    padding: 10px 10px;
}


/* MOT DE PASSE OUBLIE */


/* BALISE <a> */

.mdp {
    color: #1f85de!important;
    text-align: center;
    cursor: pointer;
}


/* COMMANDER */

.commander {
    width: auto;
    padding: 10px 10px;
    font-weight: 500;
    background: #de1f85;
    color: white;
    border-radius: 6px;
    border: none;
}


/* AUTRE */

.other {
    padding: 10px 10px;
    font-weight: 500;
    color: white;
    border-radius: 6px;
    background-color: #212529;
    border: hidden;
}


/**************************************/


/* TITLE CLASS */


/**************************************/


/* TITRE PRINCIPAL */


/* BALISE H1 */

.titleMain {
    background-color: var(--sec);
    border-radius: 6px;
    color: white;
    padding: 6px;
    width: 52%;
    min-width: fit-content;
    margin-right: auto;
    text-align: center;
    margin: 50 auto 40 auto;
    font-size: 2em;
}

.page_title {
    background-color: var(--sec) !important;
    color: #fff;
    padding: 16px 30px;
    /* margin: -20px -25px 10px; */
    border-radius: 1px 1px 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}


/* SOUS-TITRE */


/* BALISE H2 */

.subtitleMain {
    margin: 24px 0px;
    color: black;
    text-align: center;
}


/**************************************/


/* INPUT CLASS */


/**************************************/

.inputMain {
    border-radius: 6px;
    padding: 4px;
    border: 1px solid #7fc241;
}


/**************************************/


/* DATATABLE CLASS */


/**************************************/


/* METTRE SEULEMENT LES CLASSES "table table-striped" SUR LA BALISE <table> */


/* METTRE SEULEMENT LA CLASSE CI-DESSOUS SUR LA BALISE <thead> */

.theadMain {
    background-color: #7fc241;
    color: #fff;
}


/**************************************/


/* SELECT CLASS */


/**************************************/

.selectMain {
    border-radius: 6px;
    background-color: #7fc241;
    border: none;
    padding: 6px 15px;
    color: white !important;
}


/**************************************/


/* TEXTAREA CLASS */


/**************************************/

.textareaMain {
    border-radius: 6px;
    padding: 4px;
    border: 1px solid black;
}


/****************************************/


/****************************************
**************** ICONES *****************
****************************************/

.fa-trash-alt {
    color: var(--fourth)
}

.fa-exclamation-triangle {
    color: orange
}


/********************************************************
                        FOOTER
********************************************************/

#footer_afpalab {
    width: 65px
}

.logo_eloce {
    width: 110px;
}

#footer_contact {
    font-size: smaller;
}

#footer_contact>p,
#footer_a {
    margin-top: 10px !important;
    margin-bottom: 10 !important;
    color: #fff !important;
}

#footer_div {
    margin: 0 !important;
    align-items: center;
    font-family: FingerPaint;
}

#footer_ul {
    list-style-type: none;
    padding-left: 0 !important;
}

#footer_ul>li {
    margin-top: 10px !important;
    color: #fff
}

#footer_ul>li>i {
    color: #fff
}

#footer_desc_afpa>p {
    font-size: 11px;
    padding: 0 10px;
    color: #fff;
}

.footer-img {
    text-align: center;
}

#footer_h2 {
    color: white;
    margin: 0px;
}


/**********************************************************
                    MEDIA QUERY FOOTER
**********************************************************/

@media screen and (max-width: 1000px) {
    .footer-img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #footer_h2 {
        text-align: center;
    }
    #footer_contact {
        text-align: center;
        margin-top: 0;
    }
}