.table-responsive {
    display: inline-table;
}

thead {
    background-color: #7fc241;
    color: white;
}

#main {
    background-color: #7fc241;
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
}

#first {
    margin-left: 0;
    margin-right: 0;
}

.sup {
    background-color: #7fc241;
    color: white;
}

.sup:hover {
    cursor: pointer;
}

.notif:hover {
    cursor: default;
}

.date:hover {
    cursor: default;
}

#tableNotif_wrapper {
    margin-bottom: 5%;
}