/**************************************/
/* CSS de la page de construction */
/* CSS de Sylvain AKTEPE */
/**************************************/
 
.page-centers{
    margin-top: 10%;
}

.page-centers h4{
    font-size: 50px;
}

.page-centers p{
    font-size: 30px;
}

.engrenage img{

    width: 13%;
}