/**************************/


/****    DATATABLES    ****/


/**************************/

.container-fluid {
    padding-top: 15px;
}

.table-title {
    background-color: var(--sec) !important;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    box-shadow: 0 -11px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0 0;
}

table.table tr th:last-child {
    width: 150px;
}

.hide {
    display: none;
}

tr:nth-child(even) {
    background: #fff;
}

tr:nth-child(odd) {
    background: #f5f5f5 !important
}

#order_panier_detail2 {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
}


/**************************/


/****    PAGINATION    ****/


/**************************/


/* Précédent Suivant */


/**************************/


/****       MODAL      ****/


/**************************/

.purchase_modal_body {
    font-size: larger;
}


/**************************/


/****     BUTTONS      ****/


/**************************/

.purchase_row {
    text-align: center;
    align-items: center;
}


/***************************************************
				   DATATABLE
***************************************************/

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    background-color: var(--sec) !important;
    background-image: none;
}

th.sorting,
th.sorting_asc,
th.sorting_desc,
th.sorting_disabled {
    font-family: FingerPaint;
}

table.datatable {
    width: 100% !important;
    border-bottom: none !important;
}


/******************************************************
                  TABLE WITHIN TABLE
******************************************************/

.purchase_td_image {
    width: 15% !important
}


/* table.table tr th:first-child {
    width: inherit !important;
} */

.purchase_td_produit {
    width: 25% !important
}

.purchase_td_price {
    width: 25% !important
}

.purchase_td_quantity {
    width: 20% !important
}

.purchase_soustotal_title {
    width: 15% !important;
}

.purchase_total_title {
    width: 15%;
    font-weight: 600;
    border-top: 1px solid !important;
}


/* padding du titre du champs référence */

.purchase_ref {
    padding-left: 0 !important;
}

.purchase_row_title {
    text-align: center;
    position: relative;
    left: 15px;
}

.purchase_row:last-child {
    border-bottom: none
}

.purchase_row_td {
    border-top: none;
    padding: 8px 15px 20px 15px !important;
}

thead tr {
    width: 100% !important;
}

.purchase_tr_MainTable:hover {
    cursor: pointer;
}


/* .purchase_tr_details {
    background-color: rgba(127, 194, 65, 0.20);
} */

#purchase_tr_MainTable {
    margin: 0;
}

.table thead th {
    border-bottom: none;
}

.purchase_thead {
    position: relative;
    margin: 0;
}


/* 
.order_quantite_title {
    padding-right: 0;
} 
    
.order_col_statut {
    padding: 0;
    background-color: #fff;
    margin: 10 0 10 0;
    position: relative;
    left: -20;
    border-left: 2px double grey;
    border-bottom-right-radius: 5px;
} */

.order_champs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

*/
/* .order_detail_commande {
    border-bottom: 2px double grey;
    min-height: 60px;
    padding: 10 0 10 0;
    height: fit-content;
    min-height: 90px;
}

.order_detail_commande:last-child {
    border-bottom: none;
} */


/********** Fielset du tableau des commandes ********/


/* .order_table,
.order-fieldset,
.order_tab_commande {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.order-fieldset {
    border-right: 2px solid var(--first);
    border-left: 2px solid var(--first);
    border-bottom: 2px solid var(--first);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(127, 194, 65, 0.35);
    position: relative;
    display: flex;
    top: -10px;
    padding: 12px 12px 6px 12px;
    box-shadow: var(--first) 3px 2px 8px;
} */

.text_center_product {
    /*text-align: center;*/
    background-color: var(--first);
    color: white;
    border-radius: 20%;
    box-sizing: border-box;
}

.purchase_img {
    max-width: 40%;
    min-width: 50px;
    height: auto;
}

.purchase_table {
    border: 1px solid rgba(0, 0, 0, .225);
}


/******************* MODAL ********************/


/* #order_modal {
    text-align: center;
}

.order_modal_body {
    display: flex;
    justify-content: space-around;
}

#purchase_i_info {
    cursor: pointer;
} */


/***********************************************************
************************ ICONES ****************************
***********************************************************/

.purchase_icon_info {
    position: absolute;
    right: -14;
    bottom: -14;
    width: fit-content;
    height: fit-content;
}

.fa-info-circle:before {
    font-size: 13;
    position: absolute;
    right: -10;
    bottom: 0;
    color: #000;
}

.fa-info-circle {
    position: relative;
    left: 100%;
}

.fa-check-circle:before {
    color: green;
}

.fa-plus-circle:before {
    font-size: unset;
}

.fa-ban:before {
    color: red;
}

.purchase_td_status {
    height: 100%;
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase_info_position {
    width: fit-content;
}

tr td div.purchase_info_position {
    height: 100%;
}

.fa-trash-alt:before {
    cursor: pointer;
    color: var(--fourth)
}

.fa-money-bill-wave:before {
    color: rgb(0, 98, 255);
}

.fa-box-open::before {
    color: #000;
}


/*******************************************
                MEDIA QUERY
*******************************************/

@media screen and (max-width: 630px) {
    .order_i {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .table td,
    .table th {
        font-size: 13px;
    }
    .fa-trash-alt:before,
    .fa-exclamation-triangle:before,
    .fa-check-circle:before {
        font-size: 16px;
    }
    .fa-info-circle::before {
        font-size: 13px;
    }
    .purchase_td_image,
    .purchase_date,
    .purchase_toggle {
        display: none;
    }
    .purchase_button_add {
        margin: 0;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        float: none !important;
    }
    .purchase_main_title {
        text-align: center;
        margin-bottom: 10px;
    }
    .table-title .btn {
        margin-left: 0 !important;
    }
    .purchase_soustotal_title {
        width: 30% !important
    }
    table.table tr th:last-child {
        width: 84px !important;
    }
}

@media screen and (max-width: 450px) {
    .purchase_soustotal_title {
        width: 20% !important
    }
    table.table tr th:last-child {
        width: 65px !important;
    }
}

@media screen and (max-width: 370px) {
    .purchase_reference_td {
        font-size: 11px !important;
    }
    table.table tr th,
    table.table tr td {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .fa-plus-circle:before {
        display: none;
    }
    .table td,
    .table th {
        font-size: 11px;
    }
    .fa-trash-alt:before,
    .fa-exclamation-triangle:before,
    .fa-check-circle:before {
        font-size: 14px;
    }
    .fa-info-circle::before {
        font-size: 11px;
    }
}

@media screen and (max-width: 320px) {
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #purchase_infoModal {
        max-width: 100% !important;
        width: 100% !important;
    }
    table.table tr th:last-child {
        width: 50px !important;
    }
}